.wish {
  width: 400px;
  height: 400px;
  margin-bottom: 50px;

  .imgBox {
    height: 300px;
    background-color: black;
  }

  .rowInfo {
    display: flex;
    justify-content: space-between;
  }

  .name,
  .price,
  .option {
    font-size: 20px;
    margin-top: 15px;
  }

  .sizeSelect {
    display: flex;
    justify-content: space-between;

    .sizeMenu {
      margin-top: 20px;
    }

    .sizeBtn {
      padding: 8px 24px;
      border-radius: 20px;
      background-color: #ffffff;
      color: #111111;

      :disabled {
        opacity: 1;
      }
    }
  }
}
