@import '../../styles/variables.scss';

.sideMenu {
  width: 200px;
  overflow-y: auto;

  .borderBottom {
    border-bottom: 1px solid $fontGrey;
    padding: 10px 5px;

    h4 {
      font-size: 20px;
      font-weight: 700;
      color: $fontGrey;

      &:hover {
        color: $btnColor;
      }
    }
  }

  .menuContainer {
    font-size: 30px;
    font-weight: bold;
    color: $btnColor;
  }

  .menu {
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    transition: all 1s;

    p {
      color: $fontGrey;
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }

    &.openMenu {
      max-height: 300px;
    }

    &.closeMenu {
      max-height: 0px;
      overflow: hidden;
    }
  }
}
