.asideMenu {
  width: 240px;

  .menuContainer {
    font-size: 50px;
  }

  .slidebtn {
    width: 240px;
    height: 24px;

    // padding: 12px auto;

    background-color: #ffffff;
  }

  .detailMenu {
    font-size: 20px;
  }
}
