.asideMenu {
  margin-left: 20px;

  width: 240px;
  max-height: 300px;

  overflow-y: auto;

  .borderBottom {
    border-bottom: 3px solid #e5e5e5;
    transition: height 0.35s;
  }

  .menuContainer {
    font-size: 30px;
  }

  .detailMenu {
    font-size: 20px;
  }
}
