@import '../../../styles/variables.scss';

.CartList {
  .cartImg {
    justify-content: start;
    display: flex;

    .img {
      width: 200px;
      height: 200px;
    }

    .productWish {
      .productInfo {
        justify-content: space-between;
        display: flex;
        width: 500px;

        .product {
          width: 170px;
          height: 100px;
        }

        .price {
          width: 100px;
          height: 40px;
        }
      }

      .icons {
        margin-top: 20px;
        width: 200px;
        height: 30px;
      }
    }
  }
}
.shippingDate {
  margin-top: 50px;
  width: 200px;
  height: 30px;
}

.underLine {
  margin-top: 30px;
  border-bottom: 2px solid $fontGrey;
}
