.firstPage {
  height: 100vh;
  background-color: burlywood;
}

.content {
  height: 100vh;
  background-color: rgb(97, 97, 63);

  .imgBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: #fff;

    .contentImg {
      height: 100%;
    }
  }

  .textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    background-color: #fff;

    .title {
      font-size: 36px;
      font-weight: 700;
    }
    .text {
      font-size: 24px;
    }
  }

  .buyBtn {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    color: #eee;
    border: none;
    background-color: #444;

    &:hover {
      background-color: #333;
    }
  }
}
