.infoModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 600px;
  padding: 20px;
  border-radius: 20px;
  background-color: #eee;

  .infoModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 20px;
    background-color: #eee;
    border-bottom: solid 1px #bbb;
  }
  .infoBody {
    height: 80%;
    font-size: 20px;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }
  }
}

.minerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background-color: #eee;

  .minerModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 20px;
    background-color: #eee;
    border-bottom: solid 1px #bbb;
  }
  .minerBody {
    height: 50%;
    font-size: 20px;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    li {
      margin-top: 20px;
    }
  }
}
