.dropDown {
  position: absolute;
  display: flex;
  left: 0px;
  width: 100%;
  height: 300px;
  background-color: white;
  transform: translateY(0);
  transition: transform 0.3s;
}

.dropDownHidden {
  position: absolute;
  visibility: hidden;
  transform: translateY(-300px);
}

.loopSection {
  overflow: hidden;
  margin: auto;
}

.carouselSection {
  display: flex;
  position: relative;
  width: 400px;
  height: 100%;
}

.carousel {
  display: flex;

  .carouselImg {
    width: 250px;
  }

  .carouselContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10%;

    .carouselTitle {
      width: 150px;
      font-size: 24px;
    }
    .carouselText {
      width: 150px;
    }
    .detailBtn {
      width: 100px;
      height: 30px;
      border-radius: 30px;
      border: none;
      background-color: #ccc;
    }
  }
}

.leftBtn {
  position: absolute;
  top: 50%;
  left: 30%;
  border: none;
  background-color: white;

  img {
    width: 30px;
  }
}

.rightBtn {
  position: absolute;
  top: 50%;
  right: 30%;
  border: none;
  background-color: white;

  img {
    width: 30px;
  }
}
