@import '../../../styles/variables.scss';
.cart {
  justify-content: space-between;
  display: flex;

  width: 1500px;
  margin: auto;
  .cartAndWish {
    flex-direction: column;
    display: flex;

    .main {
      justify-content: space-between;
      display: flex;

      width: 80vw;
      margin: auto;

      .cartItemContainer {
        margin: 40px;

        .cartTitle {
          margin-top: 20px;
        }
      }
    }

    .wishList {
      width: 1200px;
      margin: 40px;

      .underLine {
        margin-top: 30px;
        border-bottom: 2px solid $fontGrey;
      }

      .wishListLink {
        margin-top: 30px;
        text-decoration: underline;
      }
    }

    .moreProduct {
      margin: 40px;
    }
  }
}
