@mixin productBoxSize {
  width: 300px;
  height: 550px;
}

@mixin productImgSize {
  width: 300px;
  height: 300px;
}

@mixin title {
  font-size: 20px;
  font-weight: 700;
  color: $btnColor;
}

@mixin inputStyle {
  display: block;
  padding: 20px 16px 20px 12px;
  border: 1px solid $btnColor;
  border-radius: 9px;
  font-size: 16px;
}

@mixin btnStyle {
  padding: 20px 16px 20px 12px;
  background-color: $btnColor;
  color: white;
  opacity: 0.3;
  border: 0px;
  border-radius: 50px;
  font-size: 16px;
}
