@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.product {
  @include productBoxSize;

  .imgBox {
    @include productImgBoxSize;
    border: 1px solid $btnColor;
    overflow: hidden;

    .img {
      height: 100%;
      object-position: -25px;
    }
  }

  .name {
    margin-top: 15px;
    font-size: 18px;
  }

  .option {
    margin-top: 10px;
    color: $fontGrey;
  }

  .price {
    margin-top: 10px;
    font-size: 16px;
  }
}
