@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.product {
  @include productBoxSize;

  .imgBox {
    @include productImgSize;
    border: 1px solid black;

    .img {
      width: 100%;
    }
  }

  .name {
    margin-top: 15px;
    font-size: 18px;
  }

  .option {
    margin-top: 10px;
    color: $fontGrey;
  }

  .price {
    margin-top: 10px;
    font-size: 16px;
  }
}
