@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.payment {
  width: 1200px;
  margin: 0 auto;

  h1 {
    padding: 50px 0px;
    font-size: 26px;
    text-align: center;
  }

  .subTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.alignBox {
  display: flex;
  justify-content: space-between;

  .delivery {
    width: 700px;
    padding: 30px 30px 0px 40px;
    border-bottom: 1px solid $fontGrey;

    .inputBox {
      width: 600px;
      display: flex;
      justify-content: space-between;

      input {
        width: 290px;
        @include inputStyle;
        margin-top: 30px;
      }
    }

    .fullWidthInput {
      width: 600px;
      @include inputStyle;
      margin-top: 30px;
    }

    .alertMsg {
      padding: 8px 10px;
      color: $fontGrey;
      font-size: 14px;
    }

    div {
      display: flex;
      justify-content: flex-end;
    }

    .continueBtn {
      width: 200px;
      @include btnStyle;
      margin: 30px 0px 50px 20px;

      &.Active {
        opacity: 1;
      }
    }
  }

  .subTitle {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid $fontGrey;
    padding-bottom: 10px;
  }

  .payBox {
    width: 600px;
    padding: 30px 0px 150px 10px;
    flex-direction: column;
    color: $fontGrey;

    &.open {
      max-height: 430px;
      overflow: hidden;
      transition: max-height ease-out 1.2s 0s;
    }

    &.close {
      max-height: 0px;
      overflow: hidden;
      transition: max-height ease-out 1.2s 0s;
    }

    .radioBox {
      accent-color: $btnColor;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 20px;

      input {
        margin-right: 15px;
      }

      img {
        width: 30px;
        margin-right: 10px;
      }
    }

    .agreeCheckBox {
      accent-color: $btnColor;
      justify-content: flex-start;
      margin-top: 20px;
      color: $fontGrey;

      .agreeBtn {
        margin-right: 15px;
      }
    }
  }

  .cart {
    width: 600px;
    padding: 30px 30px 0px 50px;
    display: block;
    flex-direction: column;

    .alignTextBox {
      padding: 10px 0px;

      .textBox {
        display: flex;
        padding: 10px 0px;
        justify-content: space-between;

        span {
          color: $fontGrey;
          font-size: 16px;
          line-height: 30px;
        }

        .price {
          color: $btnColor;
          font-size: 16px;
          line-height: 30px;
        }

        .finalPrice {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }

    .date {
      margin: 20px 0px;
      padding: 45px 0px;
      font-size: 18px;
      font-weight: 600;
      border-top: 1px solid $fontGrey;
    }

    ul {
      padding: 10px 0px;
      display: flex;
      justify-content: flex-start;

      .product {
        width: 150px;
        height: 150px;
        border: 1px solid $fontGrey;
      }

      .text {
        padding-left: 20px;
        line-height: 30px;
      }
    }

    .orderBtn {
      width: 100%;
      @include btnStyle;
      margin: 30px 0px;

      &.Active {
        opacity: 1;
      }
    }
  }
}
