@import '../../../styles/variables.scss';

.orderHistory {
  width: 350px;
  margin-top: 60px;

  .text {
    margin-top: 20px;
  }

  .payment {
    margin: 15px;
  }

  .underBorder {
    border-bottom: 1px solid $fontGrey;
  }
}
