@import '../../../styles/variables.scss';

.orderHistory {
  position: sticky;
  top: 0;
  width: 350px;
  margin-top: 60px;
  z-index: -1;

  .orderText {
    margin-top: 20px;
  }

  .orderPayment {
    margin: 15px;
  }

  .orderUnderBorder {
    border-bottom: 1px solid $fontGrey;
  }

  .order {
    margin-top: 5px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: none;
    color: #eee;
    background-color: #555;
  }
}
