.footer {
  width: 100%;
  padding: 30px 310px;
  background-color: black;
  color: #777;

  .wrapperBox {
    display: flex;
    justify-content: space-between;
  }
}

.linkAlign {
  width: 400px;
  display: flex;
  justify-content: space-between;

  .subTitle {
    color: white;
    font-size: 14px;
  }

  li {
    line-height: 30px;

    .linkText {
      color: #777;
      font-size: 12px;
    }
  }
}

.icons {
  width: 200px;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;

  li {
    width: 30px;
    height: 30px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 100%;
  }
}

address {
  margin-top: 30px;
  font-style: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
  font-size: 12px;

  .addressBox {
    display: flex;
    justify-content: space-between;

    // .location {
    //   width: 30px;
    //   height: 30px;

    //   img {
    //     width: 100%;
    //   }
  }

  .copyright {
    margin-left: 20px;
    color: #777;
  }
}

.info {
  width: 150px;
  display: flex;
  justify-content: space-between;

  span {
    color: #777;
  }
}

.textBox {
  display: flex;
  justify-content: space-between;

  .text {
    width: 45%;
    margin-top: 15px;
    color: #777;
    font-size: 12px;
    line-height: 24px;
  }
}
