.footer {
  width: 100%;
  padding: 30px 20px;
  background-color: black;
  color: #777;

  .wrapperBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.linkAlign {
  width: 500px;
  display: flex;
  justify-content: space-between;

  .subTitle {
    color: white;
    font-size: 14px;
  }

  li {
    line-height: 30px;

    .linkText {
      color: #777;
      font-size: 12px;
    }
  }
}

.icons {
  display: flex;
  border-radius: 50%;
}

address {
  margin-top: 30px;
  font-style: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
  font-size: 12px;

  .addressBox {
    display: flex;
    justify-content: space-between;

    .copyright {
      margin-left: 20px;
      color: #777;
    }
  }

  .info {
    width: 150px;
    display: flex;
    justify-content: space-between;

    span {
      color: #777;
    }
  }
}

.textBox {
  display: flex;
  justify-content: space-between;

  .text {
    width: 45%;
    margin-top: 15px;
    color: #777;
    font-size: 12px;
    line-height: 24px;
  }
}
