.cartDetailInfo {
  margin: 20px;

  display: flex;

  .cartImgBox {
    width: 200px;
    height: 200px;

    background-color: black;
  }
  .cartRowInfo {
    justify-content: space-between;
    display: flex;
    width: 500px;

    font-size: 30px;
    color: #111;
  }
  .cartType,
  .cartColor,
  .cartForm {
    margin-top: 10px;
    font-size: 20px;
    color: #757575;
  }

  .cartForm {
    display: flex;

    .cartSize,
    .cartAmount {
      margin-right: 15px;
    }
  }

  .likeBtn {
    width: 25px;
    height: 25px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    background-image: url('../../../assets/images/likeClick.png');
    background-color: transparent;
    background-size: cover;
  }
}

.deleteBtn {
  width: 25px;
  height: 25px;
  border: none;
  margin-left: 5px;
  margin-top: 5px;
  background-image: url('../../../assets/images/delete.png');
  background-color: transparent;
  background-size: cover;
}

.underLine {
  margin-top: 30px;
  border-bottom: 2px solid #bbb;
}
