@import '../../../styles/variables.scss';

.miniWishDetailInfo {
  display: flex;

  .miniWishImgBox {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: black;
  }

  .miniWishNoImg {
    margin-left: 20px;
    .miniWishRowInfo {
      display: flex;
      justify-content: space-between;
      width: 350px;

      font-size: 25px;
    }

    .miniWishType {
      font-size: 20px;
      color: $fontGrey;
      margin-top: 10px;
      margin-bottom: 30px;
    }

    .miniWishSize {
      margin-bottom: 20px;
    }
  }
}
