@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.navBar {
  position: relative;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 70px;
  height: 60px;
  background-color: white;

  img {
    width: 100px;
  }

  .logo {
    margin-left: 30px;
  }
}

.category {
  width: 40%;
  height: 60px;
  margin-left: 10%;
  background-color: white;

  .navList {
    display: flex;
    height: 100%;
    justify-content: space-around;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 16px;
      border-bottom: 3px solid transparent;

      &:hover {
        cursor: pointer;
        border-bottom: 3px solid $btnColor;
      }
    }
  }
}

.sideOption {
  display: flex;
  align-content: space-between;
  background-color: white;
  margin-right: 30px;

  img {
    width: 35px;
    margin-left: 10px;
  }
}

.search {
  width: 130px;
  padding: 8px 7px;
  border: none;
  background-color: $inputBg;
  border-radius: 17px;

  .search:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #eee;
    border: 1px solid $btnColor;
  }
}

@media (max-width: 1200px) {
  .searchSection {
    display: none;
  }
}

@media (max-width: 880px) {
  .sideOption {
    display: none;
  }
}
